.profile {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #d79b28;
  color: #fff;
  background-image: url('../images/asfalt-dark.png');
}

.profile__header {
  font-weight: 400;
}

div > img {
  width: 100%;
}
