@media (min-width: 780px) {
  .row {
    display: flex;
    padding: 3rem;
    max-width: 100%;
    /* gap: 200px; */
  }

  .header {
    padding: 2em;
  }

  /* .col {
    width: 100%;
  } */

  .col--smaller {
    flex-grow: 1;
  }
  .col--larger {
    width: 50%;
    margin-left: 10vw;
  }
}
