nav {
  height: 120px;
  width: 100%;
  padding: 1.5em;
  background-color: #4056a1;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

nav > span {
  font-family: 'Bungee', cursive;
}

.nav__compose-btn {
  text-align: center;
}

.nav__compose-btn > p {
  margin: 0;
  margin-bottom: 0.2em;
}

.nav__compose-btn:hover {
  cursor: pointer;
}

.fa-angle-double-down {
  color: red;
}
